.banner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #599cde;
  background: linear-gradient(#599cde, #4f779f);
  margin-top: 10px;
  position: relative;
  width: 62.4rem;
  max-width: 100%;
}

.banner h2 {
  font-weight: lighter;
  margin-left: 50px;
  font-size: 1.2em;
}

.banner h2 ::after div {
  border: 50px solid white;
  border-left-color: #599cde;
  border-right-color: transparent;
  border-top-color: #599cde;
  border-bottom-color: transparent;
}

.banner span {
  font-weight: bold;
  font-style: italic;
}

.banner button {
  margin-right: 20px;
}

.big-button {
  padding: 14px 40px;
  font-size: .9em;
  border-radius: 4px;
  border: none;
}

.banner ::after {
  content: "";
  position: absolute;
  top: 5rem;
  left: 1.55rem;
  transform: translateX(-50%);
  border: 25px solid white;
  border-left-color: #4f779f;
  border-right-color: transparent;
  border-top-color: #4f779f;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
}
