* {
  box-sizing: border-box;
 
  line-height: 1.3em;
}

.app {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  max-width: 1428px;
  min-width: 320px;
  margin: 0 auto;
}